<h1 style="color: white">Family Food Portal</h1>
<form [formGroup]="familyForm" (ngSubmit)="btnSubmitClicked()">
  <mat-card fxLayout="row wrap" class="mat-elevation-z8">
    <h2>
      We have the following available food items, please select your desired
      option(s).
    </h2>
    <div fxFlexFill>
      <mat-checkbox formControlName="meatCtl">Meats</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="dairyCtl">Dairy</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="poultryCtl">Poultry</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="veggiesCtl">Veggies</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="fruitsCtl">Fruits</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="pastriesCtl">Pastries</mat-checkbox>
    </div>
  </mat-card>
</form>
