<h1 style="color: white">Food Resource Entry Portal</h1>
<form [formGroup]="resourceForm" (ngSubmit)="btnSubmitClicked()">
  <mat-card fxLayout="row wrap" class="mat-elevation-z8">
    <h2>Store Selector</h2>
    <mat-select
      placeholder="Store Selector"
      formControlName="storesCtl"
      [(value)]="selectedStore"
      (selectionChange)="storeChanged()"
    >
      <mat-option *ngFor="let store of stores" [value]="store._id">{{
        store.name
      }}</mat-option>
    </mat-select>
  </mat-card>

  <mat-card fxLayout="row wrap" class="mat-elevation-z8">
    <h2>Available Food Items</h2>
    <div fxFlexFill>
      <mat-checkbox formControlName="meatCtl">Meats</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="dairyCtl">Dairy</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="poultryCtl">Poultry</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="veggiesCtl">Veggies</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="fruitsCtl">Fruits</mat-checkbox>
    </div>
    <div fxFlexFill>
      <mat-checkbox formControlName="pastriesCtl">Pastries</mat-checkbox>
    </div>
  </mat-card>
</form>
