<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #292929;
    color: white;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: -16px;
  }

  .content {
    margin: 0px auto 32px;

    max-width: 960px;
    align-items: center;
    padding-bottom: 50px;
  }

  #logo {
    height: 200px;
    margin-top: 150px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="http://localhost:4200"> <img id="logo" src="assets/logo1.png" /></a>
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
